# Discogs API credentials (for initial authentication)
DISCOGS_CONSUMER_KEY=
DISCOGS_CONSUMER_SECRET=

# Discogs API OAuth credentials
DISCOGS_OAUTH_TOKEN=
DISCOGS_OAUTH_TOKEN_SECRET=

# Set Frontend URL
FRONTEND_URL = "http://localhost:5000"

# Set Useragent
USERAGENT = "pyqrfactorydiscogs/1.0"